In [1]:
# DataFrame을 생성하기 위한 기본 데이터 
data = {
  '이름':['김수한무','두루미와','거북이','민규','민지'],
  '학급':['개나리','개나리','개나리','노란','노란'],
  '국어점수':[90,50,60,70,80],
  '영어점수':[20,30,10,80,90],
  '평균':[55.0,40.0,35.0,75.0,85.0],
  '취미':['독서','','','헬스','축구']

}

data

{'이름': ['김수한무', '두루미와', '거북이', '민규', '민지'],
 '학급': ['개나리', '개나리', '개나리', '노란', '노란'],
 '국어점수': [90, 50, 60, 70, 80],
 '영어점수': [20, 30, 10, 80, 90],
 '평균': [55.0, 40.0, 35.0, 75.0, 85.0],
 '취미': ['독서', '', '', '헬스', '축구']}

In [ ]:
# 판다스 라이브러리를 사용하기 위해서는 최초 1회 판다스를 설치
# 터미널에서 pip install pandas

In [2]:
# 판다스 라이브러리를 사용하기 위해서는 판다스를 import 
import pandas

In [3]:
# 판다스 라이브러리에서 제공하는 DataFrame 생성
# DataFrame : 데이터 분석에서 사용, 데이터를 2차원 표 형태로 제공
df = pandas.DataFrame(data)

df

     이름   학급  국어점수  영어점수    평균  취미
0  김수한무  개나리    90    20  55.0  독서
1  두루미와  개나리    50    30  40.0
2   거북이  개나리    60    10  35.0
3    민규   노란    70    80  75.0  헬스
4    민지   노란    80    90  85.0  축구

In [5]:
# 특정 컬럼의 데이터만 조회
df['학급']

0    개나리
1    개나리
2    개나리
3     노란
4     노란
Name: 학급, dtype: object

In [15]:
# 이름, 학급 컬럼에 대한 데이터만 조회 
# df['이름'],df['학급']
df[['이름','학급']]

# df(조회할 컬럼, 숫자)
# ['이름','학급'] 조회할 하나의 컬럼

     이름   학급
0  김수한무  개나리
1  두루미와  개나리
2   거북이  개나리
3    민규   노란
4    민지   노란