In [2]:
import pandas

df=df=pandas.read_excel('test2.xlsx')
df

     이름   학급  국어점수  영어점수  평균   취미
0  김수한무  개나리    90    20  55   독서
1  두루미와  개나리    50    30  40  NaN
2   거북이  개나리    60    10  35  NaN
3    민규   노란    70    80  75   헬스
4    민지   노란    80    90  85   축구

In [6]:
# 평균이 80점 이상인 데이터만 조회 

# 평균이 80점 이상인 조건
df['평균'] >= 80

# 위에서 만든 조건을 데이터 선택에 사용 df[조건]
df[df['평균']>=80]

   이름  학급  국어점수  영어점수  평균  취미
4  민지  노란    80    90  85  축구

In [9]:
# 위의 문법대로 사용하면 조건에 만족하는 행 데이터가 조회될 때 모든 컬럼이 동시에 조회된다.
# 조건을 사용하여 컬럼으 지정하고 싶다면 loc를 사용
# df.loc[행(조건),열]
df.loc[df['평균']>=80,['이름','평균']]

   이름  평균
4  민지  85

In [23]:
df
# 예제
# 개나리반 학급에 소속된 학생들의 모든 정보(컬럼) 조회
#df.loc[df['학급']=='개나리']
#df.loc[df['학급']=='개나리','이름':'취미']

# 개나리반을 제외한 학급에 소속된 학생들의 이름, 학급을 조회 
# 자바에서 ! 이게 부정이듯 파이썬에서는 ~ 이게 부정
condition=df['학급']=='개나리'

#df.loc[df['학급']!='개나리',['이름','학급']]
df.loc[~condition,['이름','학급']]

   이름  학급
3  민규  노란
4  민지  노란